<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.entel.beaconplugin"
        version="1.0.0">
    <name>BeaconPlugin</name>
    <description>Beacon detection and redirection plugin for OutSystems</description>
    <license>MIT</license>
    <keywords>cordova, plugin, beacon, redirection, outsystems</keywords>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
        </config-file>
        
        <!-- Updated AltBeacon library reference -->
        <framework src="org.altbeacon:android-beacon-library:2.19.5" />
        
        <!-- Add gradle configuration to ensure proper dependency resolution -->
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        
        <source-file src="src/android/BeaconPlugin.java" target-dir="src/com/entel/beaconplugin" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="BeaconPlugin">
                <param name="ios-package" value="BeaconPlugin" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>We need your location to detect beacons.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>We need your location to detect beacons.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>We need Bluetooth to detect nearby beacons.</string>
        </config-file>
        <source-file src="src/ios/BeaconPlugin.m" />
        <framework src="CoreLocation.framework" />
    </platform>

    <js-module src="www/BeaconRedirect.js" name="BeaconPlugin">
        <clobbers target="navigator.beacon" />
    </js-module>
</plugin>
